.article-item{
    padding:20px 20px 10px 20px;
    border-radius: 20px;
    margin-bottom:20px;
    border:1px solid #f7f7f7;
}
.article-item .article-cover{
    width:100px;
    height: 100px;
    cursor:pointer;
    border-radius: 50%;
}
.article-item .article-head{
    display: flex;
    justify-content: space-between;
}
.article-head .article-title{
    font-size:20px;
    color:#737373;
}
.article-head .date{
    color:#989898;
    font-size:12px;
}

.article-item .article-more{
    text-align:right;
}
.article-item .article-more .more-icon{
    font-size: 1.5em;
    cursor:pointer;
    transform: rotate(90deg);
}

@media screen and (max-width: 767px) {
    .article-item{
        padding:0;
    }
    .article-item .article-cover{
        width:100%;
        height: auto;
        margin-bottom:20px;
        border-radius: unset;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .article-item .article-main{
        padding:20px;
    }
}