.search .search-box{
    position: fixed;
    top:0;
    left:0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(255,255,255,.8);
    z-index: -1;
    padding:40px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search .search-show{
    opacity: 1;
    z-index:999;
    transition:opacity 1s;
}
.search .search-hide{
    opacity: 0;
    z-index: -1;
    transition:opacity 1s;
}
.search .search-box .media{
    width:50%;
}
.search .search-box .media .title{
    font-size:16px;
    color:#232323;
}
.search .search-box .media .input-box{
    display: flex;
    width: 100%;
    height:50px;
}
.search .search-box .media .input-box input,
.search .search-box .media .input-box button{
    border:1px solid #fff;
    background-color: #fff;
    outline: none;
}
.search .search-box .media .input-box input{
    flex:5;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left:10px;
}
.search .search-box .media .input-box button{
    flex:.5;
    cursor:pointer;
    font-size:18px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}