.app{
  min-height: 100vh;

  .ant-layout-has-sider{
    min-height: 100vh;
  }

  .site-layout-background{
    background-color: #304156;
  }

  .head-layout{
    background-color: #fff;
  }

  .content-layout{
    padding:60px 20px 0 20px;
  }

}